.rules{
    padding: 10%;
}

.about{
    padding: 10%;
}

.about__topic{
    font-weight: 800;
    font-size: large;
    padding-left: 2%;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.rule__topic{
    font-weight: 800;
    font-size: large;
    padding-left: 2%;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}
 