.__main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start__button{
    border: none;
    width: 200px;
    border-radius: 3px;
    margin-top: 1%;
    padding: 10%;
    background-color: #ffea00;
    color: white
}

.canvas{
    border: 8px groove yellow; 
    border-radius: 10px;
}



.play__now__btn {
    margin-top: 10%;
    padding-bottom: 30px;
    padding-top: 10px; 
    font-weight: 700;
    font-size: large;
    width: 300px; 
    height: 50px;
    outline: none; 
    background-color: #ffea00;
    border: none;
    border-radius: 25px;
    box-shadow: 5px 5px #999;
  }
  
  .play__now__btn:hover {
      background-color: #f1e042;
      color: white;
}
  
  .play__now__btn:active {
    background-color: #f1e042;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
    color: white;
  }

.canvas__container{
    padding: 0px;
    margin-top: 0px;
}


.final__greeting{
    padding-top: 20px; 
    height: 15vh;  
}

.final__greeting__small{
    font-size: 15px; 
    padding-left: -10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 600;
}

.final__greeting__large{
    font-size: 2em;
    font-weight: 600;
    padding-left: 30px;
}

.count__down{
    padding-top: 20px;
    font-size: 2em;
    font-weight: 600; 
    height: 15vh; 
} 

.countDown__small{
    font-size: 15px; 
    padding-left: 0%;
    margin-top: 0px;
    margin-bottom: 0px; 
}

.countDown___large{
    padding-left: 15%;
}

.play__now__btn_english{
    padding: 0px;
    margin: 0;
    font-size: 12px;
}

.play__now__btn__sinhala{
    padding: 0px;
    margin: 0px;
}